{% block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <div class="col-sm-3">
        <input class="form-control" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{%- endblock form_widget_simple %}
{# 11 original 
{% block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple %}
#}


{# nuevo #}
{# datetimepicker#}
{% block form_widget_simple_datetime -%}
    <div class='col-sm-3 input-group date' style='padding-left:16px;padding-right:16px' id='{{ id }}'>
        <input class="form-control" type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#{{ id }}').datetimepicker({
                useSeconds: true 
                });
        });
    </script>
{%- endblock form_widget_simple_datetime %}

{# datepicker#}
{% block form_widget_simple_date -%}
    <div class='col-sm-3 input-group date' style='padding-left:16px;padding-right:16px' id='{{ id }}'>
        <input class="form-control" type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#{{ id }}').datetimepicker({
                pickTime: false,
                });
        });
    </script>
{%- endblock form_widget_simple_date %}

{# TODO no esta tomando la fecha por default current para nueva transaccion #}

{# nuevo #}
{% block form_widget_simple_hidden -%}
    {%- set type = type|default('text') -%}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple_hidden %}

{# 33 #}
{% block textarea_widget -%}
    <div class="col-sm-3">
        <textarea class="form-control" {{ block('widget_attributes') }}>{{ value }}</textarea>
    </div>
{%- endblock textarea_widget %}

{# 54 #}
{% block choice_widget_collapsed -%}
    {% if required and empty_value is none and not empty_value_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <div class="col-sm-3">
        <select class="form-control" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% if empty_value is not none -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {%- endif %}
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('choice_widget_options') -}}
                {% if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif %}
            {%- endif -%}
            {% set options = choices -%}
            {{- block('choice_widget_options') -}}
        </select>
    </div>
{%- endblock choice_widget_collapsed %}

{# 95 #}
{% block datetime_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple_datetime') -}}
    {% else -%}
        <div {{ block('widget_container_attributes') }}>
            {{- form_errors(form.date) -}}
            {{- form_errors(form.time) -}}
            {{- form_widget(form.date) -}}
            {{- form_widget(form.time) -}}
        </div>
    {%- endif %}
{%- endblock datetime_widget %}

{# 108 #}
{% block date_widget -%}
    {% if widget == 'single_text' -%}
        {{ block('form_widget_simple_date') }}
    {%- else -%}
        <div {{ block('widget_container_attributes') }}>
            {{- date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw -}}
        </div>
    {%- endif %}
{%- endblock date_widget %}

{# 168 #}
{% block hidden_widget -%}
    {% set type = type|default('hidden') -%}
    {{ block('form_widget_simple_hidden') }}
{%- endblock hidden_widget %}

{# 224 #}
{% block form_row -%}
    <div class="form-group">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}

{# 244 #}
{% block form -%}
    {{ form_start(form) }}
    <div class="form-group">
        {{- form_widget(form) -}}
    </div>
    {{ form_end(form) }}
{%- endblock form %}

{# 250 #}
{% block form_start -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form class="form-horizontal" role="form" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif %}
{%- endblock form_start %}

{# 274 #}
{% block form_errors -%}
    {% if errors|length > 0 -%}
        {%- for error in errors -%}
            <div class="col-sm-3 col-sm-offset-1" style="clear:left">
                <span class="label label-danger" role="alert">{{ error.message }}</span>
            </div>
            {%- endfor -%}
    {%- endif %}
{%- endblock form_errors %}

{# 197 #}
{% block form_label -%}
    {% if label is not sameas(false) %}
        {%- if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {%- if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}
        <label class="col-xs-1 control-label" {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {%- endif %}
{%- endblock form_label %}

{# 263 #}
{% block form_end -%}
    {% if not render_rest is defined or render_rest -%}
        {{ form_rest(form) }}
    {%- endif -%}
    </form>
{%- endblock form_end %}