{% extends "ProyBWebBundle::layout.html.twig" %}
{% form_theme change_password_form 'ProyBWebBundle:Form:fields.html.twig' %}
{% block title %}Change Password{% endblock %}

{% block body -%}
<h1>Change Password</h1>
<div class="row row-centered">
    <div class="col-xs-12">
        {{ form_start(change_password_form) }}
        {{ form_row(change_password_form.oldPassword) }}
        {{ form_row(change_password_form.newPassword.first) }}
        {{ form_row(change_password_form.newPassword.second) }}
        <div class="form-group">
            <div class="col-xs-12">
                <div style="float: left; padding: 6px 3px;">
                    {{ form_widget(change_password_form.submit, {'attr': {'class': 'btn btn-success'}}) }}
                    {{ form_end(change_password_form) }}    
                </div>
                <div style="float: left; padding: 6px 3px;">
                    <button type="button" class="btn btn-primary" onclick="self.location='{{ url('transactions') }}'">Cancel</button>
                </div>
            </div>    
        </div>  
    </div>
</div>
{% endblock %}